* {
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
}

p {
    color: black;
    background-color: lightblue;
}

.text-primary {
    font-style: bold;
    color: blue;
}

th {
    font-size: 30px;
    left: 40%;
    right: 80%;
}

table {
    top: 5%;
}

.hello_class {
    color:black;

}

#name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: red;
}

#name:hover {
    color:red;
}

#name:active {
    color:blue;
}

a {
    color:black;
    align-items: start;
}
a:visited {
    color:black;
}

img {
    width: 200px;
    height: auto;
    align-items: self-start;
}

.box{ 
    border-style: solid;
    border-color: black;
    content: 100px 5px 100px ;
    padding:5px 5px 5px 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    margin: auto;
}

#box1 {
    margin-right: 10px;
}

